* {
    font-family: 'Press Start 2P', cursive;
    margin: auto;
    box-sizing: border-box;
}

div {
    text-align: center;
}

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

canvas {
    border: 2px solid white;
}