* {
    font-family: 'Press Start 2P', cursive;
    margin: auto;
}

div {
    text-align: center;
}

body {
    background-color: black;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}
